<div class="backlink">
    <a routerLink=""><svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 -960 960 960" width="60px" fill="#e8eaed"><path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/></svg></a>
</div>
<div class="signUpContainer">
    <h1>Sign Up</h1>
    <form action="">
        <div class="formElement">
            <label for="usernameInput">Username: </label>
            <input type="text" name="usernameInput" id="usernameInput" autocomplete="off" required>
        </div>
        <div class="formElement">
            <label for="emailInput">Email: </label>
            <input type="email" name="emailInput" id="emailInput" autocomplete="off" required>
        </div>
        <div class="formElement">
            <label for="passwordInput">Password: </label>
            <input type="password" name="passwordInput" id="passwordInput" required>
        </div>
        <div class="formElement">
            <label for="confirmPasswordInput">Confirm Password: </label>
            <input type="password" name="confirmPasswordInput" id="confirmPasswordInput" required>
        </div>
        <input type="submit" value="Sign Up">
    </form>
</div>