<h2>Woordenboek voor {{ username }}</h2>
<div class="woordenboek">
    <table>
        <div class="a">
            <thead>
                <th colspan="5">A</th>
            </thead>
            <tbody>
                <tr> <!-- NGFor item of unlocked vocabulairy-->
                    <td><b>Frans Woord</b> <span class="woordSoort"> (woordsoort)</span> <span class="mf masculin feminin"> (M/F) </span>:&ensp;<b>Vertaling</b> </td>
                    <td>&emsp;<em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero id et consectetur pariatur atque dolor eveniet natus, temporibus ipsam deserunt iste ratione neque tempora deleniti maiores necessitatibus quibusdam cum eaque?</em>&emsp;<span class="wordId">(woordID)</span></td>
                </tr>
                <tr> <!-- NGFor item of unlocked vocabulairy-->
                    <td><b>Frans Woord</b> <span class="woordSoort"> (woordsoort)</span> <span class="mf masculin feminin"> (M/F) </span>:&ensp;<b>Vertaling</b> </td>
                    <td>&emsp;<em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero id et consectetur pariatur atque dolor eveniet natus, temporibus ipsam deserunt iste ratione neque tempora deleniti maiores necessitatibus quibusdam cum eaque?</em>&emsp;<span class="wordId">(woordID)</span></td>
                </tr>
                <tr> <!-- NGFor item of unlocked vocabulairy-->
                    <td><b>Frans Woord</b> <span class="woordSoort"> (woordsoort)</span> <span class="mf masculin feminin"> (M/F) </span>:&ensp;<b>Vertaling</b> </td>
                    <td>&emsp;<em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero id et consectetur pariatur atque dolor eveniet natus, temporibus ipsam deserunt iste ratione neque tempora deleniti maiores necessitatibus quibusdam cum eaque?</em>&emsp;<span class="wordId">(woordID)</span></td>
                </tr>
                <tr>
                    <td colspan="2"><h2>Hier komen de woorden dat je hebt geleerd in de officiële woordenlijsten</h2></td>
                </tr>
            </tbody>
        </div>
    </table>
</div>