header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 0.1vh 1.5vw;
  position: relative;
  transform: .5s;

  h1 {
    font-size: 35px;
    a{
      color: var(--font-color);
      text-decoration: none;
    }
  }

  .menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: var(--font-color);
    cursor: pointer;
  }

  .theme-select {
    margin-right: 12px;
    background: transparent;
    color: var(--font-color);
    border: 1px solid rgba(255,255,255,0.08);
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 18px;
    option{
      background-color: var(--background-color);
    }
  }

  nav {
    display: flex;
    gap: 2vw;

    a, button {
      font-size: 27px;
      opacity: 0.7;
      transition: 0.2s;
      color: var(--font-color);
      text-decoration: none;
    }

    a:hover,
    button:hover {
      opacity: 1;
      cursor: pointer;
      text-decoration: underline;
    }

    .activeLink {
      text-decoration: underline;
      opacity: 0.8;
    }

    button {
      background-color: transparent;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid var(--font-color);
        background-color: var(--font-color);
        color: var(--background-color);
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  header {
    flex-wrap: wrap;

    .menu-toggle {
      display: block;
    }

    nav {
      flex-direction: column;
      width: 100%;
      display: none;

      &.open {
        display: flex;
      }

      a, button {
        font-size: 22px;
        padding: 10px 0;
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
  }
}