<div class="settingsWrapper">
    <h1>Instellingen</h1>
    <form>
        <h2>Test instellingen</h2>
        <label><input type="checkbox">Accentgevoeligheid</label>
        <label><input type="checkbox">Herhaal vocabulaire fouten</label>
        <label><input type="checkbox">Verberg resultaten tijdens test</label>
        <label><input type="checkbox">Basis aantal oefeningen voor Werkwoorden</label>
        <h2>Personalisatie</h2>
        <label>
            Website thema
            <select>
                <option value="">Rouge</option>
                <option value="">Orange</option>
                <option value="">Jeune</option>
                <option value="">Vert</option>
                <option value="">Bleu</option>
                <option value="">Indigo</option>
                <option value="">Violet</option>
            </select>
        </label>
        <h2>Privacy</h2>
        <label><input type="checkbox">Word getoont in klassement</label>
        <label><input type="checkbox">Vertoon test resultaten op profiel</label>
        <label><input type="checkbox">Vertoon persoonlijk woordenboek op profiel</label>
        <label><input type="checkbox">Vertoon werkwoord masteries op profiel</label>
    </form>
</div>