<div class="profileWrapper">
    <img src="images/default-avatar.png" alt="Profiel Foto">
    <div class="profileInformation">
        <h1>John Doe &ensp; <span>(student)</span></h1>
        <h4>&#64;JohnDoe</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus fugit iusto assumenda error velit earum iste praesentium placeat itaque, sunt aliquam excepturi porro! Velit voluptatum sed inventore illum, accusamus quo.</p>
        <h4>Gebruiker sinds: 23 augustus 2025</h4>
        <h4>Lid: 5 Doorstroom GO! talent</h4>
    </div>
    <h2>Badges</h2>
    <div class="displayBadges"> <!-- Hier worden de badges vertoont dat de gebruiker zichtbaar wilt op zijn profiel.-->
    </div>
    <a [routerLink]="['/home/dictionairy']" [queryParams]="{ username }">Persoonlijk Woordenboek</a>
    <div class="personalDictionairy"> <!-- Aantal verschillende woorden wordt vertoont, aantal woorden voor de verschillende rangen-->
    </div>
    <a [routerLink]="['/home/verb-masteries']" [queryParams]="{ username }">Werkwoord Masteries</a>
    <div class="verbMasteries"> <!-- De top wordt vertoont, en je kunt clicken om naar de uitgebreide pagina te gaan-->
    </div>
    <h2>Test Resultaten</h2>
    <div class="testResults"> <!-- Toont de hoeveelheid van bepaalde oefeningen te hebben gedaan. -->
    </div>
</div>