<div class="verbMasteriesWrapper">
    <h1>Masteries</h1>
    <table>
        <thead>
            <th>#</th>
            <th>Verb</th>
            <th>Reg / Ireg</th>
            <th>Masterie</th>
        </thead>
        <tr>
            <td>1</td>
            <td><a  [routerLink]="['/home/verb-masteries/verb']" [queryParams]="{ verb }">Demander</a></td>
            <td>Regulier</td>
            <td>Zilver (20%)</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a  [routerLink]="['/home/verb-masteries/verb']" [queryParams]="{ verb }">Donner</a></td>
            <td>Regulier</td>
            <td>Goud (80%)</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a  [routerLink]="['/home/verb-masteries/verb']" [queryParams]="{ verb }">Parler</a></td>
            <td>Regulier</td>
            <td>Diamant (90%)</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a  [routerLink]="['/home/verb-masteries/verb']" [queryParams]="{ verb }">Prendre</a></td>
            <td>Irregulier</td>
            <td>Zilver (20%)</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a  [routerLink]="['/home/verb-masteries/verb']" [queryParams]="{ verb }">Tenir</a></td>
            <td>Irregulier</td>
            <td>Brons (10%)</td>
        </tr>
    </table>
</div>