<div class="mainContent">
    <div class="guides">
        <h1 title="Gidsen">Taken</h1>
        <div class="blockOfContent">
            <table>
                <thead>
                    <th>Taak:</th>
                    <th>Type</th>
                    <th>Inhoud</th>
                    <th>Eind datum</th>
                </thead>
                <tr>
                    <td>1</td>
                    <td><a href="">Taak</a></td>
                    <td>Vocabulaire Tour 1 Etape 3</td>
                    <td>25 / 2 / 2025</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="">Taak</a></td>
                    <td>Werkwoorden Indicatif présent (met uitzonderingen uit lijst)</td>
                    <td>28 / 2 / 2025</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="">Toets</a></td>
                    <td>Indicatif Présent (met uitzonderingen uit lijst)</td>
                    <td>30 / 2 /2025</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="globalStats">
        <h1>Globale statistieken</h1>
        <div class="blockOfContent">
            <ul>
                <li title="Gebruikers: ">Utilisateurs: -----</li> 
                <li title="Actieve oefentijd: ">Temps de pratique active: -----</li>
                <li title="Conjugaison oefeningen voltooid: ">Exercices de conjugaison terminés: -----</li>
                <li title="Vocabulaire oefeningen voltooid: ">Exercices de vocabulaire complétés: -----</li>
            </ul>
        </div>
    </div>

</div>