:host{
    background-color: var(--accent-background-color);
    display: block;
    color: var(--font-color);
}
h1{
    font-weight: 500;
    margin: 3vh 0 1vh;
    text-align: center;
}
.mainContent{
    background-color: var(--background-color);
    min-width: 380px;
    width: 60vw;
    display:block;
    margin: 3vh auto 5vh;
    padding: 0.5% 1% 1%;
    border-radius: 8px;
    .blockOfContent{
        background-color: var(--background-color);
        height: 30vh;
        min-height: 100px;
        border: 2px solid var(--font-color);
        overflow-y: auto;
        scrollbar-color: var(--font-color) var(--background-color);
        scrollbar-width:3px;
        border-radius: 8px;
        ul, ol{
            margin: 0;
            li{
                margin: 1vh 0;
                font-size: 20px;
                a{
                    color: var(--font-color);
                }
            }
        }
        p{
            margin: 0;
        }
        table{
            border-collapse: collapse;
            width: 100%;
            th{
                background-color: var(--accent-background-color);
            }
            td, th{
                min-width: 5vw;
                border-bottom: 1px solid var(--font-color);
                padding: 1%;
                text-align: center;
                a{
                    color: var(--font-color);
                    font-size: 18px;
                }
            }
        }
    }
}