<div class="mainContent">
    <div class="guides">
        <h1 title="Gidsen">Guides</h1>
        <div class="blockOfContent">
            <ul>
                <li><a href="">Guide 1 - </a></li>
                <li><a href="">Guide 2 - </a></li>
                <li><a href="">Guide 3 - </a></li>
                <li><a href="">Guide 4 - </a></li>
                <li><a href="">Guide 5 - </a></li>
                <li><a href="">Guide 6 - </a></li>
                <li><a href="">Guide 7 - </a></li>
                <li><a href="">Guide 8 - </a></li>
            </ul>
        </div>
    </div>
    <div class="patchNotes">
        <h1 title="Patch-opmerkingen">Notes de mise à jour</h1>
        <div class="blockOfContent">
            <ul>
                <li><a href="">Patch Note 0.1 - (date)</a></li>
                <li><a href="">Patch Note 0.1 - (date)</a></li>
                <li><a href="">Patch Note 0.1 - (date)</a></li>
                <li><a href="">Patch Note 0.1 - (date)</a></li>
                <li><a href="">Patch Note 0.1 - (date)</a></li>
                <li><a href="">Patch Note 0.1 - (date)</a></li>
                <li><a href="">Patch Note 0.1 - (date)</a></li>
                <li><a href="">Patch Note 0.1 - (date)</a></li>
            </ul>
        </div>
    </div>
    <div class="announcements">
        <h1 title="Aankondigingen">Annonces</h1>
        <div class="blockOfContent">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore consequuntur et id accusantium! Quisquam, accusamus exercitationem. Consequatur officiis error corrupti totam iure non. Aliquid numquam repellendus culpa, aspernatur maxime et?
            Veniam debitis ad explicabo maxime, earum doloribus, est deleniti quam molestias rerum suscipit perspiciatis temporibus nihil repellendus! Sint perspiciatis, sed quia et placeat, recusandae quam, magnam nisi tenetur alias nihil.
            Quae amet voluptas dolor eius est esse libero similique autem quaerat laudantium nulla maxime ab eveniet harum officia, ullam, magnam veritatis doloribus consectetur, ipsum quas rerum hic? Ullam, dolore aspernatur!
            Molestias quo quis delectus placeat accusantium ab eaque dolorem recusandae, aliquam necessitatibus, nihil unde aperiam adipisci. Nostrum sit hic perferendis ea cumque earum error iusto voluptatibus, temporibus, sunt nobis? Reprehenderit.</p>
        </div>
    </div>
    <div class="upcomingFeatures">
        <h1 title="Aankomende functies">Fonctionnalités à venir</h1>
        <div class="blockOfContent">
            <ol>
                <li>Feature</li>
                <li>Feature</li>
                <li>Feature</li>
                <li>Feature</li>
                <li>Feature</li>
                <li>Feature</li>
                <li>Feature</li>
                <li>Feature</li>
            </ol>
        </div>
    </div>
    <div class="globalStats">
        <h1 title="Globale statistieken">Statistiques mondiales</h1>
        <div class="blockOfContent">
            <ul>
                <li title="Gebruikers: ">Utilisateurs: -----</li> 
                <li title="Actieve oefentijd: ">Temps de pratique active: -----</li>
                <li title="Conjugaison oefeningen voltooid: ">Exercices de conjugaison terminés: -----</li>
                <li title="Vocabulaire oefeningen voltooid: ">Exercices de vocabulaire complétés: -----</li>
            </ul>
        </div>
    </div>

</div>