<div class="contentWrapper">

    <h1>Passé Composé</h1>
    <h3>(Voltooid tegenwoordige tijd)</h3>
    <p>De Passé Composé wordt gebruikt voor acties uit het verleden dat je voltooid hebt.</p>

    <!-- Voorbeeld van gebruik -->
     <div class="partContainer">
        <table>
           <thead>
               <th colspan="4">Voorbeeld</th>
           </thead>
           <tbody>
               <tr>
                   <td>FR:</td>
                   <td>J'ai mangé</td>
                   <td>NL:</td>
                   <td>Ik heb gegeten</td>
               </tr>
               <tr>
                   <td>FR:</td>
                   <td>Je suis arrivé</td>
                   <td>NL:</td>
                   <td>Ik kwam</td>
               </tr>
               <tr>
                   <td>FR:</td>
                   <td>Je suis monté</td>
                   <td>NL:</td>
                   <td>Ik klom</td>
               </tr>
               <tr>
                   <td>FR:</td>
                   <td>J'ai sauté</td>
                   <td>NL:</td>
                   <td>Ik sprong</td>
               </tr>
           </tbody>
        </table>
     </div>

    <!-- Onderwerp -->
    <div class="partContainer">
        <table>
            <thead>
                <tr>
                    <th colspan="3">Het onderwerp (Le sujet)</th>
                </tr>
                <tr>
                    <th>Persoon</th>
                    <th>Nederlands</th>
                    <th>Frans</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1e enkelvoud</td>
                    <td>Ik</td>
                    <td>Je</td>
                </tr>
                <tr>
                    <td>2e enkelvoud</td>
                    <td>Jij</td>
                    <td>Tu</td>
                </tr>
                <tr>
                    <td>3e enkelvoud</td>
                    <td>Hij / Zij</td>
                    <td>Il / Elle</td>
                </tr>
                <tr>
                    <td>1e meervoud</td>
                    <td>Wij</td>
                    <td>Nous</td>
                </tr>
                <tr>
                    <td>2e meervoud</td>
                    <td>Jullie / U</td>
                    <td>Vous</td>
                </tr>
                <tr>
                    <td>3e meervoud</td>
                    <td>Zij</td>
                    <td>Ils / Elles</td>
                </tr>
            </tbody>
        </table>
        <p>Ils wordt gebruikt voor groepen waar minstens 1 man in zit en Elles voor groepen van enkel vrouwen</p>
    </div>

    <!-- Formule -->
    <div class="partContainer">
        <p>De Passé Composé bestaat uit 2 delen:</p>
        <table>
            <thead>
                <th colspan="3">Passé Composé:</th>
            </thead>
            <tbody>
                <td>Hulpwerkwoord (auxiliaire)</td>
                <td>+</td>
                <td>Voltooid deelwoord (participé passe)</td>
            </tbody>
        </table>
    </div>

    <!-- Hulpwerkwoorden -->
    <div class="partContainer">
        <h2>Hulpwerkwoord</h2>
        <p>Je hebt 2 mogelijke hulp werkwoorden:</p>
        <ol>
            <li><b>Être</b>: voor werkwoorden uit het huisje van être of wederkerende werkwoorden.</li>
            <li><b>Avoir</b>: voor alle andere werkwoorden.</li>
        </ol>
        <p>De hulpwerkwoorden vervoeg je met je onderwerp.</p>
        <h2>Het huisje van être:</h2>
        <img src="images/maisonÊtre.jpg" alt="">

    </div>

    <!-- Voltooid deelwoord -->
     <div class="partContainer">
        <h2>Voltooid deelwoord</h2>
        <p>Regelmatige vorming van het voltooid deelwoord:</p>
        <table>
            <thead>
                <th colspan="3">Formule:</th>
            </thead>
            <tbody>
                <tr>
                    <td>-ER</td>
                    <td>--></td>
                    <td>é</td>
                </tr>
                <tr>
                    <td>-IR</td>
                    <td>--></td>
                    <td>i</td>
                </tr>
                <tr>
                    <td>-RE</td>
                    <td>--></td>
                    <td>u</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <th colspan="3">Voorbeeld:</th>
            </thead>
            <tbody>
                <tr>
                    <td>Parler</td>
                    <td>--></td>
                    <td>Parlé</td>
                </tr>
                <tr>
                    <td>Partir</td>
                    <td>--></td>
                    <td>Parti</td>
                </tr>
                <tr>
                    <td>Vendre</td>
                    <td>--></td>
                    <td>Vendu</td>
                </tr>
            </tbody>
        </table>
     </div>

     <div class="partContainer">
        <h2>Als je het hulpwerkwoord être gebruikt moet je ook nog rekening houden met het geslacht van het onderwerp:</h2>
        <table>
            <thead>
                <th colspan="2">Als het onderwerp...</th>
            </thead>
            <tbody>
                <tr>
                    <td>mannelijk enkelvoud is:</td>
                    <td>+ /</td>
                </tr>
                <tr>
                    <td>vrouwelijk enkelvoud is:</td>
                    <td>+ e</td>
                </tr>
                <tr>
                    <td>mannelijk meervoud is:</td>
                    <td>+ s</td>
                </tr>
                <tr>
                    <td>vrouwelijk meervoud is:</td>
                    <td>+ es</td>
                </tr>
            </tbody>
        </table>
     </div>

</div>