<header>
    <h1>FransWeb</h1>
</header>
<div class="mainContent">
    <h3>FransWeb</h3>
    <p>FransWeb is een educatief platform met interactieve oefeningen, woordenschatlijsten en duidelijke grammatica-uitleg om je Frans effectief te verbeteren.</p>
    <h3>Hoe werkt FransWeb</h3>
    <p>(Moet geüpdatet worden met de juiste informatie.)</p>
    <!-- <ol>
        <li>
            <h3>Grammatica:</h3>
            <p>Leer de basisregels van de Franse grammatica door duidelijke samenvattingen met verwerkingsoefeningen.</p>
            <img src="images/grammaireOptions.png" alt="Foto met overzicht van grammaire opties.">
            <img src="" alt="Foto voorbeeld van een van de grammaire opties.">
            <img src="" alt="Foto met voorbeeld van verwerkingsoefeningen.">
        </li>
        <li>
            <h3>Vocabulaire:</h3>
            <p>Oefen je Franse woordenlijst met vooraf ingestelde en door gebruikers aangemaakte lijsten.</p>
            <img src="images/officialVocabulaireOptions.png" alt="Foto van vooraf ingestelde vocabulaire lijsten.">
            <img src="" alt="Foto van door gebruikers aangemaakte lijsten.">
            <p>Je kunt zelf kiezen hoe moeilijk je het wilt maken:</p>
            <img src="images/vocabulaireOptions.png" alt="Foto van vocabulaire test instellingen.">
            <p>De oefeningen maken:</p>
            <img src="images/vocabulaireExercise.png" alt="Voorbeeld van een vocabulaire oefening.">
            <p>Om dan je resultaten te bekijken:</p>
            <img src="images/vocabulaireResult.png" alt="Voorbeeld van een resultaat van een vocabulaire test.">
            <img src="images/vocabulaireResultMistakes.png" alt="Voorbeeld van de foutenlijst bij de resultaten van een vocabulaire test.">
            <p>(deze fouten kun je via een speciale lijst heroefenen en opslagen voor later te herbekijken.)</p>
        </li>
        <li>
            <h3>Werkwoorden:</h3>
            <p>Versterk je kennis door werkwoorden te vervoegen in verschillende tijden en vormen.</p>
            <img src="images/conjugaisonOptions.png" alt="Foto van werkwoord oefeningen form opties.">
            <img src="images/conjugaisonExercise.png" alt="Foto van werkwoord oefeningen.">
            <img src="images/conjugaisonResult.png" alt="Resultaten van een werkwoorden oefening.">
        </li>
        <li>
            <h3>Klassementen:</h3>
            <p>Vergelijk je voortgang met anderen en werk aan je positie in het klassement.</p>
            <img src="images/leaderboard.png" alt="Foto van de mogelijke leaderboards met de scores.">
        </li>
        <li>
            <h3>Persoonlijke Profiel:</h3>
            <p>Volg je studievoortgang op je persoonlijk profiel.</p>
            <img src="images/profile.png" alt="Foto van profiel">
            <p>Je krijgt zelfs een persoonlijk woordenboek met je ingestudeerde woorden</p>
            <img src="images/personalDictionary.png" alt="Foto van persoonlijk woordenboek">
            <p>En kunt verschillende Masteries voor je werkwoorden bekijken:</p>
            <img src="images/verbMasteries.png" alt="foto van verb masterie onderdeel.">
            <img src="" alt="Foto van studievoortgang">
            <img src="" alt="Foto van badges">
        </li>
    </ol> -->
    <h3>Ook handig voor schoolen</h3>
    <p>FransWeb maakt het eenvoudig om toetsen en taken flexibel uit te delen en de voortgang van leerlingen gedurende hun schoolcarrière te volgen. Leerkrachten krijgen een helder overzicht van de prestaties en kunnen gerichter ondersteuning bieden.</p>
    <h3>Over ons</h3>
    <p>FransWeb is gemaakt door studenten, voor studenten. We willen een leuke en interactieve manier om Frans te leren, waarbij alles op één plek staat en je je voortgang makkelijk kunt volgen. FransWeb helpt je niet alleen met grammatica en woordenschat, maar houdt ook je progressie bij en past zich dynamisch aan om je te laten verbeteren. <br>Daarnaast biedt het leerkrachten een duidelijk overzicht van de prestaties van hun leerlingen, zodat ze gerichter kunnen ondersteunen.</p>
    <h3>Waarom FransWeb?</h3>
    <ul>
        <li><p>Als student vind je al je Franse leerstof op één plek en kun je die op een leuke en toegankelijke manier oefenen.</p></li>
        <li><p>Als leerkracht krijg je een helder overzicht van de voortgang van je leerlingen, kun je eenvoudig online taken uitdelen en gebruikmaken van de automatische toets- en taakfunctie.</p></li>
    </ul>
    <div class="signOptions">
        <a href="/" (click)="notYetFunction()">Sign up</a>
        <a href="/login">Login</a>
    </div>
</div>