<header>
    <h1>FransWeb</h1>
</header>
<div class="mainContent">
    <h3>FransWeb</h3>
    <p>FransWeb is een educatief platform dat je ondersteunt bij het leren van de Franse taal. Met interactieve oefeningen, uitgebreide woordenschatlijsten en heldere grammaticale uitleg bieden wij een gestructureerde en effectieve manier om je Frans te verbeteren.</p>
    <h3>Hoe werkt FransWeb</h3>
    <ol>
        <li>
            <h3>Grammatica:</h3>
            <p>Leer de basisregels van de Franse grammatica door duidelijke samenvattingen met verwerkingsoefeningen.</p>
            <img src="images/grammaireOptions.png" alt="Foto met overzicht van grammaire opties.">
            <img src="" alt="Foto voorbeeld van een van de grammaire opties.">
            <img src="" alt="Foto met voorbeeld van verwerkingsoefeningen.">
        </li>
        <li>
            <h3>Vocabulaire:</h3>
            <p>Oefen je Franse woordenlijst met vooraf ingestelde en door gebruikers aangemaakte lijsten.</p>
            <img src="images/officialVocabulaireOptions.png" alt="Foto van vooraf ingestelde vocabulaire lijsten.">
            <img src="" alt="Foto van door gebruikers aangemaakte lijsten.">
            <p>Je kunt zelf kiezen hoe moeilijk je het wilt maken:</p>
            <img src="images/vocabulaireOptions.png" alt="Foto van vocabulaire test instellingen.">
            <p>De oefeningen maken:</p>
            <img src="images/vocabulaireExercise.png" alt="Voorbeeld van een vocabulaire oefening.">
            <p>Om dan je resultaten te bekijken:</p>
            <img src="images/vocabulaireResult.png" alt="Voorbeeld van een resultaat van een vocabulaire test.">
            <img src="images/vocabulaireResultMistakes.png" alt="Voorbeeld van de foutenlijst bij de resultaten van een vocabulaire test.">
            <p>(deze fouten kun je via een speciale lijst heroefenen en opslagen voor later te herbekijken.)</p>
        </li>
        <li>
            <h3>Werkwoorden:</h3>
            <p>Versterk je kennis door werkwoorden te vervoegen in verschillende tijden en vormen.</p>
            <img src="images/conjugaisonOptions.png" alt="Foto van werkwoord oefeningen form opties.">
            <img src="images/conjugaisonExercise.png" alt="Foto van werkwoord oefeningen.">
            <img src="images/conjugaisonResult.png" alt="Resultaten van een werkwoorden oefening.">
        </li>
        <li>
            <h3>Klassementen:</h3>
            <p>Vergelijk je voortgang met anderen en werk aan je positie in het klassement.</p>
            <img src="images/leaderboard.png" alt="Foto van de mogelijke leaderboards met de scores.">
        </li>
        <li>
            <h3>Persoonlijke Profiel:</h3>
            <p>Volg je studievoortgang op je persoonlijk profiel.</p>
            <img src="images/profile.png" alt="Foto van profiel">
            <p>Je krijgt zelfs een persoonlijk woordenboek met je ingestudeerde woorden</p>
            <img src="images/personalDictionary.png" alt="Foto van persoonlijk woordenboek">
            <p>En kunt verschillende Masteries voor je werkwoorden bekijken:</p>
            <img src="images/verbMasteries.png" alt="foto van verb masterie onderdeel.">
            <img src="" alt="Foto van studievoortgang">
            <img src="" alt="Foto van badges">
        </li>
    </ol>
    <h3>Ook handig voor schoolen</h3>
    <p>FransWeb kan gebruikt worden om toetsen en taken uit te delen op een dynamische manier. (verdere uitbreiding op de werking voor schoolen)</p>
    <h3>Over ons</h3>
    <p>FransWeb is gemaakt <b>door studenten voor studenten</b> (nog aanvulling)</p>
    <h3>Waarom?</h3>
    <ul>
        <li><p>Als student kun je makkelijk al je Franse leerstof op 1 website vinden en beoefenen.</p></li>
        <li><p>Als leerkracht heb je een makkelijk overzicht met de vooruitgang van je leerlingen. Kun je online taken geven. En de automatische toetsfunctie gebruiken.</p></li>
    </ul>
    <div class="signOptions">
        <a href="/sign-up">Sign up</a>
        <a href="/login">Login</a>
    </div>
</div>