header{
    background-color: var(--accent-background-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    box-sizing: border-box;
    h1{
        padding: 1vh 2vw 1vh;
        font-weight: 400;
        color: var(--accent-font-color);
        box-sizing: border-box;
        margin: 0;
        font-size: 40px;
        text-align: center;
    }
}
.mainContent{
    width: 60vw;
    min-width: 320px;
    margin: 0 auto;
    color: var(--font-color);
    overflow-y: scroll;
    scrollbar-color: white rgba(255, 255, 255, 0);
    scrollbar-width: thin;
    height: 88.5vh;
    padding: 1.5%;
    img{
        width: 80%;
        border: 1px solid var(--font-color);
    }
    h3{
        margin: 5vh 0vw 1vh;
        font-size: 25px;
    }
    p{
        font-size: 18px;
        margin: 0;
        opacity: .9;
    }
    ol{
        li{
            font-size: 18px;
            h3{
                margin: 4vh 0vw 1vh;
                font-size: 24px;
            }
            img{
                display: block;
                margin: 3vh auto;
            }
        }
    }
    .signOptions{
        display: block;
        box-sizing: border-box;
        width: fit-content;
        margin: 5vh auto;
        a{
            background-color: var(--accent-background-color);
            color: var(--font-color);
            padding: .5vw;
            outline: 3px solid rgba(255, 255, 255, .3);
            opacity: .8;
            font-size: 20px;
            border-radius: 5px;
            margin: 0vh .5vw;
            text-decoration: none;
            vertical-align:bottom;
            &:hover{
                opacity: 1;
                cursor: pointer;
                outline: 3px solid var(--font-color);
            }
        }
    }
}