<header>
    <h1>Titel</h1>
</header>
<div class="mainContent">
    <h3><em>"Lorem ipsum dolor sit amet consectetur adipisicing elit."</em></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum adipisci perspiciatis tempore modi error optio placeat totam cum, est voluptate dolores velit dignissimos voluptatum harum magni debitis. Rerum, pariatur dolores?</p>
    <h3>Hoe werkt ---</h3>
    <ol>
        <li>
            <h3>Grammatica:</h3>
            <p>Leer de basisregels van de Franse grammatica door duidelijke samenvattingen en oefeningen.</p>
            <img src="" alt="Foto met overzicht van grammaire opties.">
            <img src="" alt="Foto voorbeeld van een van de grammaire opties.">
        </li>
        <li>
            <h3>Vocabulaire:</h3>
            <p>Oefen je Franse woordenlijst met vooraf ingestelde en door gebruikers aangemaakte lijsten.</p>
            <img src="" alt="Foto van vooraf ingestelde vocabulaire lijsten.">
            <img src="" alt="Foto van door gebruikers aangemaakte lijsten.">
        </li>
        <li>
            <h3>Werkwoorden:</h3>
            <p>Versterk je kennis door werkwoorden te vervoegen in verschillende tijden en vormen.</p>
            <img src="" alt="Foto van werkwoord oefeningen form opties.">
            <img src="" alt="Foto van werkwoord oefeningen.">
        </li>
        <li>
            <h3>Leaderboards:</h3>
            <p>Vergelijk je voortgang met anderen en werk aan je positie in de leaderboard.</p>
            <img src="" alt="Foto van de mogelijke leaderboards met de scores.">
        </li>
        <li>
            <h3>Persoonlijke Profiel:</h3>
            <p>Volg je studievoortgang, badges en prestaties.</p>
            <img src="" alt="Foto van profiel">
            <img src="" alt="Foto van studievoortgang">
            <img src="" alt="Foto van badges">
        </li>
    </ol>
    <h3>Developer:</h3>
    <p>Falco Jacobs</p>
    <h3>Waarom?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quod, blanditiis similique dolor facilis suscipit minima assumenda exercitationem quaerat eius id impedit voluptatibus ut unde facere animi distinctio, illum aliquam!</p>
    <div class="signOptions">
        <a href="/sign-up">Sign up</a>
        <a href="/login">Login</a>
    </div>
</div>