<div class="contentWrapper">

    <h1>Indicatif présent</h1>
    <h3>(Tegenwoordige tijd)</h3>
    <p>Als er iets nu, op dit moment afspeelt is dat in de tegenwoordige tijd.</p>

    <!-- Onderwerp -->
    <div class="partContainer">
        <table>
            <thead>
                <tr>
                    <th colspan="3">Het onderwerp (Le sujet)</th>
                </tr>
                <tr>
                    <th>Persoon</th>
                    <th>Nederlands</th>
                    <th>Frans</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1e enkelvoud</td>
                    <td>Ik</td>
                    <td>Je</td>
                </tr>
                <tr>
                    <td>2e enkelvoud</td>
                    <td>Jij</td>
                    <td>Tu</td>
                </tr>
                <tr>
                    <td>3e enkelvoud</td>
                    <td>Hij / Zij</td>
                    <td>Il / Elle</td>
                </tr>
                <tr>
                    <td>1e meervoud</td>
                    <td>Wij</td>
                    <td>Nous</td>
                </tr>
                <tr>
                    <td>2e meervoud</td>
                    <td>Jullie / U</td>
                    <td>Vous</td>
                </tr>
                <tr>
                    <td>3e meervoud</td>
                    <td>Zij</td>
                    <td>Ils / Elles</td>
                </tr>
            </tbody>
        </table>
        <p>Ils wordt gebruikt voor groepen waar minstens 1 man in zit en Elles voor groepen van enkel vrouwen</p>
    </div>

    <!-- De verschillende soorten werkwoorden -->
    <div class="partContainer">
        <h2>Er zijn 3 verschillende soorten werkwoorden:</h2>
        <ol>
            <li>Werkwoorden op -ER (bijv: Parler, Aimer, Donner, ...)</li>
            <li>Werkwoorden op -IR bevat 3 types:
                <ol>
                    <li>Type finir (bijv: Finir, Choisir, Grandir, ...)</li>
                    <li>Type Dormir (bijv: Dormir, Mentir, Partir, ...)</li>
                    <li>Type Ouvrir (bijv: Ouvrir, Offrir, Souffrir)</li>
                </ol>
            </li>
            <li>Werkwoorden op -RE (bijv: Rendre, Vendre, Descendre, ...</li>
        </ol>
    </div>
    

    <div class="partContainer">
        <h1>REGELMATIGE WERKWOORDEN</h1>
    </div>

    <!-- Werkwoorden op -ER -->
    <div class="partContainer">
        <h2 id="ERWerkwoorden">1. Werkwoorden op -ER</h2>
        <table>
            <tbody>
                <tr>
                    <td>Formule: </td>
                    <td>Stam + uitgangen</td>
                </tr>
                <tr>
                    <td>Stam:</td>
                    <td>Infinitief - ER</td>
                </tr>
            </tbody>
        </table>
        <h2>voorbeelden:</h2>
        <div class="voorbeelden">
            <div class="scroll-container">
                <app-conjugaison-table verb="Formule" stem="stam" endingsType="ER" dutchTranslation ="vertaling"></app-conjugaison-table>
                <app-conjugaison-table verb="Parler" stem="parl" endingsType ="ER" dutchTranslation ="Praten"></app-conjugaison-table>
                <app-conjugaison-table verb="Aimer" stem="aim" endingsType ="ER" dutchTranslation ="Houden van"></app-conjugaison-table>
                <app-conjugaison-table verb="Chanter" stem="chant" endingsType ="ER" dutchTranslation ="Zingen"></app-conjugaison-table>
                <app-conjugaison-table verb="Regarder" stem="regard" endingsType ="ER" dutchTranslation ="Kijken"></app-conjugaison-table>
                <app-conjugaison-table verb="Entrer" stem="entr" endingsType ="ER" dutchTranslation ="Binnenkomen"></app-conjugaison-table>
                <app-conjugaison-table verb="Écouter" stem="ecout" endingsType ="ER" dutchTranslation ="Luisteren"></app-conjugaison-table>
            </div>
        </div>
        <!-- Moet er beter uitzien -->
        <h2>Spellings uitzonderingen voor werkwoorden op -ER</h2>
        <ul>
            <li>Voor -ons:
                <ul>
                    <li>c --> ç (commencer)</li>
                    <li>g --> ge (manger)</li>
                </ul>
            </li>
            <li>Voor een doffe e:
                <ul>
                    <li>Y --> i (nettoyer)</li>
                    <li>e --> è (acheter)</li>
                    <li>é --> è (céder)</li>
                    <li>l --> ll (appeler)</li>
                    <li>t --> tt (jeter)</li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Werkwoorden op -IR -->
    <div class="partContainer">
        <h2>Werkwoorden op -IR</h2>
        <p>Voor werkwoorden op -IR zijn er 3 verschillende types.</p>
        <div class="irWerkwoordTypes">
            <div class="typeFinir">
                <h3>Type Finir</h3>
                <p>(Meest voorkomen type)</p>
                <table>
                    <tbody>
                        <tr>
                            <td>Formule: </td>
                            <td>Stam + uitgangen</td>
                        </tr>
                        <tr>
                            <td>Stam:</td>
                            <td>Infinitief - IR</td>
                        </tr>
                    </tbody>
                </table>
                <h2>voorbeelden:</h2>
                <div class="voorbeelden">
                    <div class="scroll-container">
                        <app-conjugaison-table verb="Formule" stem="stam" endingsType="IRFinir" dutchTranslation ="vertaling"></app-conjugaison-table>
                        <app-conjugaison-table verb="Finir" stem="fin" endingsType ="IRFinir" dutchTranslation ="Beëindigen"></app-conjugaison-table>
                        <app-conjugaison-table verb="Choisir" stem="chois" endingsType ="IRFinir" dutchTranslation ="Kiezen"></app-conjugaison-table>
                        <app-conjugaison-table verb="Grandir" stem="grand" endingsType ="IRFinir" dutchTranslation ="Groeien"></app-conjugaison-table>
                        <app-conjugaison-table verb="Maigrir" stem="maigr" endingsType ="IRFinir" dutchTranslation ="Afvallen"></app-conjugaison-table>
                    </div>
                </div>
            </div>
            <div class="typeDormir">
                <h3>Type Dormir</h3>
                <p>Dit type is voor de werkwoorden uit MeSeSeSoDoPa.</p>
                <p>MeSeSeSoDoPa = Mentir , Sentir , Servir , Sortir , Dormir en Partir</p>
                <table>
                    <tbody>
                        <tr>
                            <td>Formule: </td>
                            <td>Enkelvoud:</td>
                            <td>Stam - laatste letter + uitgangen</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Meervoud:</td>
                            <td>Stam + Zelfde uitgangen ER</td>
                        </tr>
                        <tr>
                            <td>Stam:</td>
                            <td></td>
                            <td>Infinitief - IR</td>
                        </tr>
                    </tbody>
                </table>
                <h2>voorbeelden:</h2>
                <div class="voorbeelden">
                    <div class="scroll-container">
                        <app-conjugaison-table verb="Formule" stem="stam" endingsType="IRDormir" dutchTranslation ="vertaling"></app-conjugaison-table>
                        <app-conjugaison-table verb="Dormir" stem="dorm" endingsType ="IRDormir" dutchTranslation ="Slapen"></app-conjugaison-table>
                        <app-conjugaison-table verb="Mentir" stem="ment" endingsType ="IRDormir" dutchTranslation ="Liegen"></app-conjugaison-table>
                        <app-conjugaison-table verb="Sortir" stem="sort" endingsType ="IRDormir" dutchTranslation ="Uitgaan"></app-conjugaison-table>
                        <app-conjugaison-table verb="Partir" stem="part" endingsType ="IRDormir" dutchTranslation ="Vertrekken"></app-conjugaison-table>
                    </div>
                </div>
            </div>
            <div class="typeOuvrir">
                <h3>Type Ouvrir</h3>
                <p>Dit type wordt gebruikt voor werkwoorden dat eindigen op -vrir en -frir .</p>
                <p>Deze worden op de zelfde manier als -ER werkwoorden vervoegd.</p>
                <table>
                    <tbody>
                        <tr>
                            <td>Formule: </td>
                            <td>Stam + uitgangen</td>
                        </tr>
                        <tr>
                            <td>Stam:</td>
                            <td>Infinitief - IR</td>
                        </tr>
                    </tbody>
                </table>
                <h2>voorbeelden:</h2>
                <div class="voorbeelden">
                    <div class="scroll-container">
                        <app-conjugaison-table verb="Formule" stem="stam" endingsType="ER"  dutchTranslation ="vertaling"></app-conjugaison-table>
                        <app-conjugaison-table verb="Ouvrir" stem="ouvr" endingsType ="ER" dutchTranslation ="Openen"></app-conjugaison-table>
                        <app-conjugaison-table verb="Offrir" stem="offr" endingsType ="ER" dutchTranslation ="Aanbieden"></app-conjugaison-table>
                        <app-conjugaison-table verb="Découvrir" stem="découvr" endingsType ="ER"  dutchTranslation ="Ontdekken"></app-conjugaison-table>
                        <app-conjugaison-table verb="Recouvrir" stem="recouvr" endingsType ="ER" dutchTranslation ="Bedekken"></app-conjugaison-table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Werkwoorden op -RE -->
    <div class="partContainer">
        <h2>3. Werkwoorden op -RE</h2>
        <table>
            <tbody>
                <tr>
                    <td>Formule: </td>
                    <td>Stam + uitgangen</td>
                </tr>
                <tr>
                    <td>Stam:</td>
                    <td>Infinitief - RE</td>
                </tr>
            </tbody>
        </table>
        <h2>voorbeelden:</h2>
        <div class="voorbeelden">
            <div class="scroll-container">
                <app-conjugaison-table verb="Formule" stem="stam" endingsType="RE" dutchTranslation ="vertaling"></app-conjugaison-table>
                <app-conjugaison-table verb="Attendre" stem="attend" endingsType ="RE" dutchTranslation ="Wachten"></app-conjugaison-table>
                <app-conjugaison-table verb="Vendre" stem="vend" endingsType ="RE" dutchTranslation ="Verkopen"></app-conjugaison-table>
                <app-conjugaison-table verb="Perdre" stem="perd" endingsType ="RE" dutchTranslation ="Verliezen"></app-conjugaison-table>
                <app-conjugaison-table verb="Rendre" stem="rend" endingsType ="RE" dutchTranslation ="Teruggeven"></app-conjugaison-table>
                <app-conjugaison-table verb="Fondre" stem="fond" endingsType ="RE" dutchTranslation ="Smelten"></app-conjugaison-table>
            </div>
        </div>
    </div>

    <div class="partContainer">
        <h1>ONREGELMATIGE WERKWOORDEN</h1>
    </div>

    <div class="partContainer">
        <p>Onregelmatige werkwoorden volgen geen vaste regel dus moet je deze van buiten leren.</p>
        <div class="scroll-container">
            <app-conjugaison-irreg-table verb="Aller" dutchTranslation="Gaan" [conjugations]="{
              je: 'vais',
              tu: 'vas',
              il: 'va',
              nous: 'allons',
              vous: 'allez',
              ils: 'vont',
            }">
          </app-conjugaison-irreg-table>
          <app-conjugaison-irreg-table verb="Avoir" dutchTranslation="Hebben" [conjugations]="{
            je: 'ai',
            tu: 'as',
            il: 'a',
            nous: 'avons',
            vous: 'avez',
            ils: 'ont',
          }">
          </app-conjugaison-irreg-table>
          <app-conjugaison-irreg-table verb="Connaître" dutchTranslation="Kennen" [conjugations]="{
            je: 'connais',
            tu: 'connais',
            il: 'connaît',
            nous: 'connaissons',
            vous: 'connaissez',
            ils: 'connaissent',
          }">
          </app-conjugaison-irreg-table>         
          <app-conjugaison-irreg-table verb="Devoir" dutchTranslation="Moeten" [conjugations]="{
            je: 'dois',
            tu: 'dois',
            il: 'doit',
            nous: 'devons',
            vous: 'devez',
            ils: 'doivent'
          }">
          </app-conjugaison-irreg-table>         
          <app-conjugaison-irreg-table verb="Dire" dutchTranslation="Zeggen" [conjugations]="{
            je: 'dis',
            tu: 'dis',
            il: 'dit',
            nous: 'disons',
            vous: 'dites',
            ils: 'disent'
          }">
          </app-conjugaison-irreg-table>        
          <app-conjugaison-irreg-table verb="Être" dutchTranslation="Zijn" [conjugations]="{
            je: 'suis',
            tu: 'es',
            il: 'est',
            nous: 'sommes',
            vous: 'êtes',
            ils: 'sont'
          }">
          </app-conjugaison-irreg-table>
          <app-conjugaison-irreg-table verb="Faire" dutchTranslation="Maken, doen" [conjugations]="{
            je: 'fais',
            tu: 'fais',
            il: 'fait',
            nous: 'faisons',
            vous: 'faites',
            ils: 'font'
          }">
          </app-conjugaison-irreg-table>
          <app-conjugaison-irreg-table verb="Falloir" dutchTranslation="Moeten" [conjugations]="{
            je: '',
            tu: '',
            il: 'faut',
            nous: '',
            vous: '',
            ils: ''
          }">
          </app-conjugaison-irreg-table>         
          <app-conjugaison-irreg-table verb="Lire" dutchTranslation="Lezen" [conjugations]="{
            je: 'lis',
            tu: 'lis',
            il: 'lit',
            nous: 'lisons',
            vous: 'lisez',
            ils: 'lisent'
          }">
          </app-conjugaison-irreg-table>
          <app-conjugaison-irreg-table verb="Mettre" dutchTranslation="Zetten, leggen" [conjugations]="{
            je: 'mets',
            tu: 'mets',
            il: 'met',
            nous: 'mettons',
            vous: 'mettez',
            ils: 'mettent'
          }">
          </app-conjugaison-irreg-table>              
          <app-conjugaison-irreg-table verb="Pouvoir" dutchTranslation="Kunnen, mogen" [conjugations]="{
            je: 'peux',
            tu: 'peux',
            il: 'peut',
            nous: 'pouvons',
            vous: 'pouvez',
            ils: 'peuvent'
          }">
          </app-conjugaison-irreg-table>
          <app-conjugaison-irreg-table verb="Recevoir" dutchTranslation="Ontvangen" [conjugations]="{
            je: 'reçois',
            tu: 'reçois',
            il: 'reçoit',
            nous: 'recevons',
            vous: 'recevez',
            ils: 'recoivent'
          }">
          </app-conjugaison-irreg-table>
          <app-conjugaison-irreg-table verb="Savoir" dutchTranslation="Weten" [conjugations]="{
            je: 'sais',
            tu: 'sais',
            il: 'sait',
            nous: 'savons',
            vous: 'savez',
            ils: 'savent'
          }">
          </app-conjugaison-irreg-table>
          <app-conjugaison-irreg-table verb="(De)venir" dutchTranslation="Komen (worden)" [conjugations]="{
            je: '(de)viens',
            tu: '(de)viens',
            il: '(de)vient',
            nous: '(de)venons',
            vous: '(de)venez',
            ils: '(de)viennent'
          }">
          </app-conjugaison-irreg-table>
          <app-conjugaison-irreg-table verb="Voir" dutchTranslation="Zien" [conjugations]="{
            je: 'vois',
            tu: 'vois',
            il: 'voit',
            nous: 'voyons',
            vous: 'voyez',
            ils: 'voient'
          }">
          </app-conjugaison-irreg-table>
          <app-conjugaison-irreg-table verb="Vouloir" dutchTranslation="Willen" [conjugations]="{
            je: 'veux',
            tu: 'veux',
            il: 'veut',
            nous: 'voulons',
            vous: 'voulez',
            ils: 'voulent'
          }">
          </app-conjugaison-irreg-table>         
        </div>
    </div>
</div>