.contentWrapper{
    background-color: var(--background-color);
    margin: 3vh auto;
    width: 60vw;
    padding: 1%;
    border-radius: 8px;
    h1{
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        margin: 0;
        background-color: var(--accent-background-color);
    }
    h2{
        text-align: center;
        margin: 1vh 0 1vh;
    }
    h3{
        opacity: .6;
        text-align: center;
        margin: 0 0 5vh;
    }
    p{
        font-size: 18px;
        text-align: center;
        margin: 1vh 0;
    }
    table{
        border-collapse: collapse;
        border: 1px solid var(--font-color);
        display: block;
        width: fit-content;
        margin: 3vh auto;
        thead{
            background-color: var(--accent-background-color);
            border-bottom: 1px solid var(--font-color);
        }
        tbody{
            // tr:nth-of-type(even){
            //     background-color: var(--font-color);
            //     color: var(--background-color);
            //     opacity: .8;
            // }
            tr{
                &:hover{
                    background-color: var(--font-color);
                    color: var(--background-color);
                    transition: .2s;
                }
            }
        }
        th, td{
            padding: 1vh 2vw;
            min-width: fit-content;
            white-space: nowrap;
            text-align: center;
            font-size: 17px;
        }
        td{
            border-bottom: 1px solid var(--font-color);
        }
    }
    ol{
        margin: 0 auto;
        display: block;
        width: fit-content;
        li{
            margin: 2vh 0;
            font-size: 20px;
            ol{
                list-style-type:upper-roman;
            }
        }
    }
    ul{
        width: fit-content;
        margin: 1vh auto;
        li{
            font-size: 22px;
        }
    }
    .scroll-container{
        display: flex;
        overflow-x: auto;
        gap: 1.5vw;
        padding-bottom: 2vh;
        // scrollbar-width: thin;
        scrollbar-color: var(--font-color) var(--background-color);
    }
    .partContainer{
        padding: 2% 0;
        border-bottom: 3px solid var(--font-color);
        .irWerkwoordTypes{
            h3{
                opacity: 1;
                font-size: 22px;
                margin: 3vh 0 0;
                text-decoration: underline;
            }
        }
    }
    .typeFinir, .typeDormir, .typeOuvrir {
        margin-top: 5vh;
    }
    a{
        display: block;
        margin: 3vh auto;
        width: fit-content;
        border: 1px solid var(--font-color);
        color: white;
        font-size: 20px;
        padding: 1%;
        text-decoration: none;
        &:hover{
            background-color: var(--font-color);
            color: var(--background-color);
        }
    }
}