<div class="vocabulaireInput">
    <h1>{{ currentWord?.dutch || '...'}}</h1>
    <input [(ngModel)]="userInput" (keydown.enter)="checkAnswer()" placeholder="Franse vertaling" autocomplete="off" spellcheck="false">
</div>

<div class="stats">
    <h1 [ngClass]="{'correct': isCorrect === true, 'incorrect': isCorrect === false}">{{ isCorrect === null ? '...' : (isCorrect ? 'Juist' : 'Fout') }}</h1>
    <hr>
    <table>
        <tr>
            <td>Woorden:</td>
            <td>{{ totalIncorrect + totalCorrect }} / {{ vocabList.length + mistakesAdded }}</td>
        </tr>
        <tr>
            <td>Accuraat</td>
            <td>{{ accuracy }}% ({{ totalCorrect }} / {{ totalCorrect + totalIncorrect }})</td>
        </tr>
    </table>
    <hr>
    <h2><u>Vorige vraag:</u></h2>
    <table>
        <tr>
            <td>Nederlands woord</td>
            <td>{{ previousDutch || '...' }}</td>
        </tr>
        <tr>
            <td>ingevoerd woord:</td>
            <td [ngClass]="{'correct': isCorrect === true, 'incorrect': isCorrect === false}">{{ previousInput || '...'}}</td>
        </tr>
        <tr>
            <td>Correct Frans woord</td>
            <td>{{ previousFrench || '...'}}</td>
        </tr>
    </table>
</div>