.vocabulaireInput{
    background-color: var(--background-color);
    padding: 3%;
    width: 60vw;
    margin: 3vh auto;
    h1{
        text-align: center;
        font-size: 40px;
        margin: 0 0 1vh;
    }
    input{
        margin: 0 auto;
        display: block;
        font-size: 30px;
        min-width: max(35vw, 300px);
    }
}
.stats{
    background-color: var(--background-color);
    width: 60vw;
    margin: 0 auto;
    padding: 1%;
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
        font-size: 28px;
    }
    span{
        display: block;
        margin: 1.5vh 0;
        p{
            margin: 0;
            font-size: 25px;
            display: inline-block;
        }
    }
    .correct{
        color: #00FF00;
        opacity: .8;
    }
    .incorrect{
        color: #FF0000;
    }
    table{
        display: block;
        margin: 0 auto;
        width: fit-content;
        td{
            font-size: 25px;
            padding: 1%;
            min-width: 14vw;
        }
    }
}