<div class="vocabulaireInput">
    <h1>{{ currentWord?.dutch || '...'}}</h1>
    <input [(ngModel)]="userInput" (keydown.enter)="checkAnswer()" placeholder="Franse vertaling">
</div>

<div class="stats">
    <h1>{{ isCorrect === null ? '...' : (isCorrect ? 'Juist' : 'Fout') }}</h1>
    <hr>
    <span><p>Woorden:&nbsp;</p><p>{{ totalIncorrect + totalCorrect }} / {{ vocabList.length + mistakesAdded }}</p></span>
    <span><p>Accuraat:&nbsp;</p><p>{{ accuracy }}%</p></span>
    <hr>
    <h2><u>Vorige vraag:</u></h2>
    <span><p>Nederlands woord:&nbsp;</p><p>{{ previousDutch || '...' }}</p></span>
    <span><p>Ingevoerd woord:&nbsp;</p><p>{{ previousInput || '...'}}</p></span>
    <span><p>Correct Frans woord:&nbsp;</p><p>{{ previousFrench || '...'}}</p></span>
</div>