<div class="vocabulaireInput">
    <h1>NL WOORD</h1>
    <input type="text" placeholder="Franse vertaling">
</div>

<div class="stats">
    <h1 id="trueOrFalse">...</h1>
    <hr>
    <span><p>Woorden: </p><p id="amountOfWords"></p></span>
    <span><p>Accuraat:</p><p id="accuraat"></p></span>
    <hr>
    <h2><u>Vorige vraag:</u></h2>
    <span><p>Nederlands woord:</p><p id="previousDutchWord"></p></span>
    <span><p>Input:</p><p id="previousInput"></p></span>
    <span><p>Correct Frans woord:</p><p id="previousFrenchWord"></p></span>
</div>