/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background-color: #333d29;
    --accent-background-color: #656d4a;
    --font-color: white;
    --accent-font-color: white;
}

[data-theme="theme-1"] {
    --background-color: #333d29;
    --accent-background-color: #656d4a;
    --font-color: white;
    --accent-font-color: white;
}

[data-theme="theme-2"] {
    --background-color: #29293d;
    --accent-background-color: #4a4c6d;
    --font-color: white;
    --accent-font-color: white;
}

[data-theme="theme-3"] {
    --background-color: #ba181b;
    --accent-background-color: #660708;
    --font-color: white;
    --accent-font-color: white;
}

[data-theme="theme-4"] {
    --background-color: #17191A;
    --accent-background-color: #2C2F31;
    --font-color: white;
    --accent-font-color: white;
}

[data-theme="theme-5"] {
    --background-color: #4a4e69;
    --accent-background-color: #979dc5;
    --font-color: #edede9;
    --accent-font-color: white;
}

[data-theme="theme-6"] {
    --background-color: #292d2f;
    --accent-background-color: #393e40;
    --font-color: #656d4a;
    --accent-font-color: white;
}

[data-theme="theme-7"] {
    --background-color: #292d2f;
    --accent-background-color: #393e40;
    --font-color: #dcdad7;
    --accent-font-color: white;
}

[data-theme="theme-8"] {
    --background-color: #b76b56;
    --accent-background-color: #8a4f3f;
    --font-color: #ffffff;
    --accent-font-color: #f5e9e7;
}

[data-theme="theme-9"] {
    --background-color: #b6d6d0;
    --accent-background-color: #2b8f87;
    --font-color: #072422;
    --accent-font-color: #043737;
}

[data-theme="theme-10"] {
    --background-color: #002b36;
    --accent-background-color: #073642;
    --font-color: #839496;
    --accent-font-color: #b58900;
}

[data-theme="theme-11"] {
    --background-color: #2e2433;
    --accent-background-color: #6b4f74;
    --font-color: #efe9f1;
    --accent-font-color: #d8c7dd;
}

[data-theme="theme-12"] {
    --background-color: #0f2433;
    --accent-background-color: #275a78;
    --font-color: #cfe6ff;
    --accent-font-color: #a8d0e6;
}
// :root{
//     --background-color: rgb(34, 17, 17);
//     --accent-background-color: rgb(99, 3, 3);
//     --font-color: #dcdad7;
//     --accent-font-color: white;
// }
body{
    font-family: "Open Sans", "Montserrat", 'Times New Roman', Times, serif;
    margin: 0;
    background-color: var(--accent-background-color);
    color: var(--font-color);
    scrollbar-color: var(--font-color) var(--background-color);
}
div{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--font-color);
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: var(--background-color);
}